*.dvi
*.aux
*.hash
*.log

node_modules

Thumbs.db

log

Report*/data/*/table.eps
Report*/data/*/table.tex

Report*/main/r06ec-exp.sty
Report*/main/*.png
Report*/main/*.eps
Report*/main/*.pdf
!Report*/main/template.pdf

Report*/res-raw/*.png
Report*/res-raw/*.pdf

#Report*/res-img/*
#!Report*/res-img/*.png

!Report*/*/*.keep.png
